.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  height: 100%;
}

.grid-1 {
  grid-template-columns: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 33.33%);
}

.grid-4 {
  grid-template-columns: repeat(4, 25%);
}

.flex {
  display: flex;
  justify-content: center;
  height: 100%;
}

.block {
  display: block;
}

.mt-30 {
  margin-top: 30px;
}

.pl-10 {
  padding-left: 10px;
}

.ptb-10 {
  padding: 10px 0;
}

.p-10 {
  padding: 10px;
}

.bb {
  border-bottom: 1px solid grey;
}

.b {
  font-weight: bold;
}

.btns {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-yellow {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
